@using ShifuChat.ViewModels;
@using ShifuChat;
@using ShifuChat.Models;

@model ProfileViewModel


@{ ViewData["Title"] = "Welcome!"; }

<div>
    <form asp-controller="Profile" asp-action="Index" enctype="multipart/form-data">
        <p>
            <h1>Welcome back!</h1>
            <label>Download You'r Image</lable>
                <input name="Image" type="file" placeholder="photo" value="@Model.ProfileImage"/>
        </p>
        <p class="profile-form-attribute">
            <label>Get Profile Name</lable>
                <input name="Text" type="text" value="@Model.FirstName"/>
        </p>
        <button>Login</button>
    </form>
</div>